extends  ../layout 

block content 
    h1.text-center.p-4.text-dark= title 

    div.container-fluid.p-5
        div.row
            div.col
                div.container-fluid.d-flex.flex-column.flex-lg-row.flex-wrap.align-items-center.justify-content-evenly
                    each equipment in equipment_list 
                        div.card.col-10.col-lg-5.mb-4.p-1.bg-secondary
                            div.card-body
                                h5.card-title.text-warning #{equipment.name}
                                h6.card-subtitle.mb-2.mt-2.text-light #{equipment.price} $
                                p.card-text.text-light #{equipment.description}
                                a.card-link.icon-link.icon-link-hover.link-info.link-underline.link-underline-opacity-0(href=equipment.url) #[strong Check Equipment] 
                    
                    else
                        p There are no equipments.