extends ../layout

block content 
    h1 #{title}: #{equipment.name}

    if equipment_inventories.length 

        p #[strong Delete the following inventories before attempting to delete this equipment.]

        div(style="margin-left:20px;margin-top:20px")

        h4 Inventories 

        dl 
        each inventory in equipment_inventories 
            dt 
                a(href=inventory.url) #{inventory.numberInStock} items in #{inventory.location.name}

    else 
        p Do you really want to delete this equipment?

        form(method="POST" action="")
            div.form-group
                input#equipmentid.form-control(type="hidden" name="equipmentid", required="true" value=equipment._id)
        
            button.btn.btn-primary(type="submit") Delete