extends ../layout

block content 
    h1.text-center.p-4.text-dark #{equipment.name}

    div.container-fluid
        div.row
            div.col
                div.p-5
                    p.fs-4 #[strong Price:] #{equipment.price} $

                    hr.mt-4.mb-4

                    p.fs-4 #[strong Categories:]
                    ul.list-group.list-group-horizontal
                        each category in equipment.category 
                            a(href=category.url class="list-group-item list-group-item-action") #{category.name}

                    hr.mt-4.mb-4 
                    
                    p.fs-4 #[strong Description:] #{equipment.description}
                    
                    hr.mt-4.mb-4

                    div.container-fluid.d-flex.justify-content-center
                        a.btn.btn-primary.btn-lg.m-2(href=equipment.url+'/update') Update Equipment
                        a.btn.btn-danger.btn-lg.m-2(href=equipment.url+'/delete') Delete Equipment
                      

    