extends ../layout

block content 
    h1 #{equipment.name}

    p #[strong Price:] #{equipment.price}

    hr

    p #[strong Categories:]
    ul.list-group.list-group-horizontal
        each category in equipment.category 
            a(href=category.url class="list-group-item list-group-item-action") #{category.name}

    hr 
    
    p #[strong Description:] #{equipment.description}
    

    