extends ../layout

block content 
    h1.text-center.p-4.text-dark= title 

    div.container-fluid.p-5
        div.row
            div.col
                div.container-fluid.d-flex.flex-column.flex-lg-row.flex-wrap.align-items-center.justify-content-evenly
                    each location in location_list 
                        div.card.col-10.col-lg-5.mb-4.p-1.bg-secondary
                            div.card-body
                                p.card-title.text-warning.fs-4 #[strong #{location.name}]
                                p.card-text.text-light #[strong Address:] #{location.address}
                                p.card-text.text-light #[strong Inventory Records:] #{location.inventory.length}
                                a.card-link.icon-link.icon-link-hover.link-info.link-underline.link-underline-opacity-0(href=location.url) Check Location
                    else 
                        p There is no inventory.
    