extends ../layout

block content 
    h1.text-center.p-4.text-dark= title 

    div.container-fluid
        div.row
            div.col
                div.container-fluid
                    form(method="POST" action="")
                        div.d-flex.flex-column.align-items-center
                            div.form-group.col-10.mb-3.fs-4
                                label.mb-2(for="equipment") #[strong Select Equipment:] 
                                select.form-select(name="equipment" id="equipment" required="true" value=(undefined === inventory ? "" : inventory.equipment))
                                    each equipment in equipments 
                                        option(value=(equipment._id)) #{equipment.name}
                            div.form-group.col-10.mb-3.fs-4
                                label.mb-2(for="location") #[strong Select Location:]
                                select.form-select(name="location" id="location" required="true" value=(undefined === inventory ? "" : inventory.location))
                                    each location in locations 
                                        option(value=(location._id)) #{location.name}
                            div.form-group.col-10.mb-5.fs-4
                                label.mb-2(for="numberInStock") #[strong Number in stock:]
                                input.form-control(type="number" id="numberInStock" placeholder="Number in stock" name="numberInStock"
                                require="true" value=(undefined === inventory ? "" : inventory.numberInStock))
                            button.btn.btn-primary.btn-lg(type="submit") Create Inventory
                        
                        if errors 
                            ul 
                                for error in errors 
                                    li!= error.msg