extends ../layout

block content 

    h1.text-center.p-4.text-dark Category: #{category.name} Equipments

    div.container-fluid
        div.row
            div.col
                div.container-fluid.d-flex.flex-column.flex-lg-row.flex-wrap.align-items-center.justify-content-evenly
                    each equipment in category_equipments
                        div.card.col-10.col-lg-5.mb-4.p-1.bg-secondary
                            div.card-body
                                a.card-title.card-link.icon-link.icon-link-hover.link-warning.fs-4.link-underline.link-underline-opacity-0(href=equipment.url) #[strong #{equipment.name}]
                                p.card-text.text-light #{equipment.description}

                    else 
                        p This category has no equipments

                hr

                div.container-fluid.d-flex.justify-content-center
                    a.btn.btn-danger.btn-lg.m-3(href=category.url+'/delete') Delete category
                        
