extends ../layout

block content 
    h1.text-center.p-4.text-dark #{title}: #{category.name}

    if category_equipments.length 

        p.text-center.p-4.text-danger #[strong Delete the following equipments before attempting to delete this category.]

            div.d-flex.flex-column.align-items-center(style="margin-left:20px;margini-top:20ox")

                h2.p-4.text-dark Equipments 

                div.container-fluid
                    div.row
                        div.col
                            div.container-fluid.d-flex.flex-column.flex-lg-row.flex-wrap.align-items-center.justify-content-evenly
                                each equipment in category_equipments 
                                    div.card.col-10.col-lg-5.mb-4.p-1.bg-secondary
                                        div.card-body
                                            a.card-title.card-link.icon-link.icon-link-hover.text-warning.fs-4.link-underline.link-underline-opacity-0(href=equipment.url) #{equipment.name}
                                            p.card-text.text-light #{equipment.description}

    else 
        p.text-center.p-4.text-dark.fs-3 Do you really want to delete this Category?

        form(method="POST" action="")
            div.d-flex.flex-column.align-items-center
                div.form-group.mt-5.mb-5.col-10
                    input.form-control.p-3(type="hidden" id="categoryid" name="categoryid" required="true" value=category._id)
                button.btn.btn-primary(type="submit") Delete Category